section
  :markdown
    ## Links / further reading
    * JavaScript Garden [http://bonsaiden.github.com/JavaScript-Garden/](http://bonsaiden.github.com/JavaScript-Garden/)
    * Eloquent JavaScript (free to read online) [http://eloquentjavascript.net](http://eloquentjavascript.net)
