section
  :markdown
    ## Links / further reading
    * JavaScript Garden
      [http://bonsaiden.github.com/JavaScript-Garden/](http://bonsaiden.github.com/JavaScript-Garden/)
    * Eloquent JavaScript <br/>
      [http://eloquentjavascript.net](http://eloquentjavascript.net)
    * Mozilla Developer Network (MDN)
      [https://developer.mozilla.org/en-US/docs/JavaScript](https://developer.mozilla.org/en-US/docs/JavaScript)
      - Especially:
      - [Details of the Object Model](https://developer.mozilla.org/en-US/docs/JavaScript/Guide/Details_of_the_Object_Model)
      - [Inheritance and the prototype chain](https://developer.mozilla.org/en-US/docs/JavaScript/Guide/Inheritance_and_the_prototype_chain)
    * Superhero.js <br/>
      [http://www.superherojs.com](http://www.superherojs.com)
    * Node.js <br/>
      [http://www.nodejs.org](http://www.nodejs.org)
