section
  :markdown
    ## Motivation
    ### Why bother?
    * JavaScript is a "necessary evil"
    * But it doesn't have to be evil
    * Write cleaner, more maintainable code
    * CoffeeScript
    * Node.js

section
  :markdown
    ## Overview
    ### What we'll cover
    * Last month I sent an email asking for feedback on JavaScript
    * Received a total of 12 reponses (thanks!)
    * Most people wanted to learn about...
      - Object orientation
      - Organizing your code
      - Writing jQuery plugins (not today)
      - Node.js (a little bit)

