section
  :markdown
    ## Overview
    ### What we'll cover
    * Last week I sent an email asking for feedback on JavaScript
    * Received a total of 12 reponses (thanks!)
    * Most people wanted to learn about
      - Object orientation
      - Organizing your code
      - Writing jQuery plugins (not today)
      - Node.js (a little bit)
